
glfw2D/\.idea/

*.ipch

glfw2D/\.vs/glfw2D/v15/

glfw2D/engine2D/include/glm/detail/

glfw2D/engine2D/include/glm/

glfw2D/engine2D/Release/

glfw2D/engine2D/

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/docs/html/

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/lib-vc2012/

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/lib-vc2013/

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/lib-vc2015/

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/lib-mingw-w64/

glfw2D/glfw2D/res/includes/glm/detail/

glfw2D/glfw2D/res/includes/glm/gtc/

glfw2D/glfw2D/res/includes/glm/gtx/

glfw2D/glfw2D/res/includes/glm/

*.png

glfw2D/Release/

glfw2D/glfw2D/res/textures/

glfw2D/glfw2D/util\.h

shader_back\.glsl

glfw2D/Debug/

glfw2D/glfw2D\.sln

glfw2D/glfw2D\.sdf

glfw2D/glfw2D\.v11\.suo

glfw2D/glfw2D/Debug/

glfw2D/glfw2D/Release/

glfw2D/glfw2D/res/includes/GL/

glfw2D/glfw2D/res/includes/GLFW/

*.lib

*.vs

glfw2D/glfw2D/debugTimer\.h

glfw2D/glfw2D/display\.cpp

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/COPYING\.txt

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/include/GLFW/glfw3\.h

glfw2D/glfw2D/glfw-3\.2\.1\.bin\.WIN64/include/GLFW/glfw3native\.h

glfw2D/glfw2D/glfw2D\.exe

glfw2D/glfw2D/glfw2D\.vcxproj

glfw2D/glfw2D/glfw2D\.vcxproj\.filters

glfw2D/glfw2D/glfw2D\.vcxproj\.user

glfw2D/glfw2D/res/shaders/mbrot\.glsl
